<ul class="navbar nav aside-panel">

    <li>
        <img src="~/Images/calc.png" alt="Logo" class="img-responsive img-rounded img-logo" style="height: 200px;">
        <a href="@Url.Action("Index", "Home")">
            <i class="glyphicon glyphicon-dashboard"></i>
            داشبورد
        </a>
    </li>

    <li data-toggle="collapse" data-target="#sub-menu-site">

        <a href="javascript:void(0)">
            <i class="glyphicon glyphicon-book"></i>
            مدیرت حساب ها
            <i class="glyphicon glyphicon-chevron-right pull-right gly-rotate-90"></i>
        </a>

        <ul class="collapse nav aside-sub-panel" id="sub-menu-site">
            <li>
                <a href="@Url.Action("Index", "Accounts")">
                    <i class="glyphicon glyphicon-book"></i>
                    لیست حساب ها
                </a>
            </li>
        </ul>

    </li>

    @*<li data-toggle="collapse" data-target="#sub-checks">

        <a href="javascript:void(0)">
            <i class="glyphicon glyphicon-book"></i>
            مدیریت دسته چک ها
            <i class="glyphicon glyphicon-chevron-right pull-right gly-rotate-90"></i>
        </a>

        <ul class="collapse nav aside-sub-panel" id="sub-checks">
            <li>
                <a href="@Url.Action("", "")">
                    <i class="glyphicon glyphicon-book"></i>
                    تست
                </a>
            </li>
        </ul>

    </li>*@

    <li data-toggle="collapse" data-target="#sub-transactions">

        <a href="javascript:void(0)">
            <i class="glyphicon glyphicon-book"></i>
            تراکنش ها
            <i class="glyphicon glyphicon-chevron-right pull-right gly-rotate-90"></i>
        </a>

        <ul class="collapse nav aside-sub-panel" id="sub-transactions">
            <li>
                <a href="@Url.Action("Index", "Transactions")">
                    <i class="glyphicon glyphicon-book"></i>
                    لیست تراکنش ها
                </a>
            </li>
        </ul>

    </li>

    <li data-toggle="collapse" data-target="#sub-reports">

        <a href="javascript:void(0)">
            <i class="glyphicon glyphicon-book"></i>
            گزارشات
            <i class="glyphicon glyphicon-chevron-right pull-right gly-rotate-90"></i>
        </a>

        <ul class="collapse nav aside-sub-panel" id="sub-reports">
            <li>
                <a href="@Url.Action("Remindings", "Reports")">
                    <i class="glyphicon glyphicon-book"></i>
                    یاداوری ها
                </a>
            </li>
            <li>
                <a href="@Url.Action("PassedEvents", "Reports")">
                    <i class="glyphicon glyphicon-book"></i>
                    رویدادهای گذشته
                </a>
            </li>
        </ul>

    </li>

</ul>