@model IEnumerable<TransactionViewModel>

@{
    ViewBag.Title = "یاداوری ها";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="panel panel-body panel-default navigation">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
        </ol>
    </nav>

</div>

<div class="panel panel-default">

    <div class="panel-body table-body" style="overflow-x:auto;">
        <table id="DateTable" class="table table-striped" style="width: 100%">
            <thead>
                <tr class="table-tr">
                    <th scope="col">#</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.AccountNumber)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Type)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Cost)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.AccountSide)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Description)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.ReceiptDate)</th>
                    <th scope="col" data-orderable="false">کنترل</th>
                </tr>
            </thead>
            <tbody>

                @{
                    int x = 0;
                }

                @foreach (var item in Model)
                {
                    x++;

                    <tr>

                        <td scope="row">@x</td>

                        <td scope="row">
                            <span>@Html.DisplayFor(modelItem => item.AccountNumber)</span>
                        </td>

                        <td scope="row">
                            <span>@Html.DisplayFor(modelItem => item.Type)</span>
                        </td>

                        <td scope="row">
                            <span>@Html.DisplayFor(modelItem => item.Cost)</span>
                        </td>

                        <td scope="row">
                            <span>@Html.DisplayFor(modelItem => item.AccountSide)</span>
                        </td>

                        <td scope="row">
                            <span>@Html.DisplayFor(modelItem => item.Description)</span>
                        </td>

                        <td scope="row">
                            <span>@Html.DisplayFor(modelItem => item.ReceiptDate)</span>
                        </td>

                        <td scope="row">
                            @if (item.ByCheck.HasValue)
                            {
                                <a class="control btn btn-primary btn-sm glyphicon glyphicon-list" data-toggle="tooltip" data-placement="auto" title="مشاهده چک" href="javascript:void(0)" onclick="Delete('@item.Guid')"></a>
                            }
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<partial name="_Modal" />

@section Modals {

    <script>

        function Create() {
            $.ajax({
                url: "/Accounts/Create",
                type: "Get",
                data: {}
            }).done(function (result) {
                $("#myModal").modal("show");
                $("#myModalLabel").html("افزودن حساب");
                $("#myModalBody").html(result);
            });
        }

        function Edit(guid) {
            $.ajax({
                url: "/Accounts/Edit/?guid=" + guid,
                type: "Get",
                data: {}
            }).done(function (result) {
                $("#myModal").modal("show");
                $("#myModalLabel").html("ویرایش حساب");
                $("#myModalBody").html(result);
            });
        }

        function Delete(guid) {
            $.ajax({
                url: "/Accounts/Delete/?guid=" + guid,
                type: "Get",
                data: {}
            }).done(function (result) {
                $("#myModal").modal("show");
                $("#myModalLabel").html("حذف حساب");
                $("#myModalBody").html(result);
            });
        }

    </script>

}
